*.opensdf
*.sdf
*.user
*.suo
CryVEHDebugger/Debug/*
CryVEHDebugger/Release/*
CryVEHDebugger/CryVEHDebugger/Debug/*
CryVEHDebugger/CryVEHDebugger/Release/*
CrySearchLibrary/Bin/*
CrySearchLibrary/CrySearchLibrary/Debug/*
CrySearchLibrary/CrySearchLibrary/Release/*
Plugins/SectionDumper/SectionDumper/Debug/*
Plugins/SectionDumper/SectionDumper/Release/*
Plugins/SectionDumper/Bin/*