*.opensdf
*.sdf
*.user
*.suo
CryVEHDebugger/Debug/*
CryVEHDebugger/Release/*
CryVEHDebugger\CryVEHDebugger/x64/*
CryVEHDebugger/CryVEHDebugger/Debug/*
CryVEHDebugger/CryVEHDebugger/Release/*
CrySearchLibrary/Bin/*
CrySearchLibrary/CrySearchLibrary/x64/*
CrySearchLibrary/CrySearchLibrary/Debug/*
CrySearchLibrary/CrySearchLibrary/Release/*
Plugins/SectionDumper/SectionDumper/x64/*
Plugins/SectionDumper/SectionDumper/Debug/*
Plugins/SectionDumper/SectionDumper/Release/*
Plugins/SectionDumper/Bin/*
Plugins/CryVirtualDump/Bin/*
Plugins/CryVirtualDump/CryVirtualDump/x64/*
Plugins/CryVirtualDump/CryVirtualDump/Debug/*
Plugins/CryVirtualDump/CryVirtualDump/Release/*